<app-header></app-header>
<app-add-supplier [editSupplierFlag]="editSupplierFlag" [supplierInput]="supplierInput"></app-add-supplier>
<div class="flex p-2 w-[500px] h-32 mt-2 ml-2 mr-2 shadow rounded" style="background: #68ff682e;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let i=index"> {{ i+1 }}</td>
    </ng-container>
    <ng-container matColumnDef="supplier_name">
      <th mat-header-cell *matHeaderCellDef>Supplier Name</th>
      <td mat-cell *matCellDef="let row"> {{ row.supplier_name }}</td>
    </ng-container>
      <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let row"> {{ row.phone }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row">
        <button type="button" (click)="editSupplier(row)"><i class="fa fa-pencil"></i></button>
        <button type="button" (click)="deleteSupplier(row)"><i class="fa fa-trash"></i></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
</div>
