<app-header></app-header>
<app-add-category [categoryInput]="categoryInput" [editCatFlag]="editCatFlag"></app-add-category>
<div class="flex p-2 w-[500px] h-32 mt-2 ml-2 mr-2 shadow rounded" style="background: #68ff682e;">
  <table mat-table class="mat-elevation-z8 w-full" [dataSource]="dataSource">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let i=index;">{{ i+1 }}</td>
    </ng-container>
    <ng-container matColumnDef="category_name">
      <th mat-header-cell *matHeaderCellDef>Category Name</th>
      <td mat-cell *matCellDef="let row;">{{ row.category_name }}</td>
    </ng-container>
     <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row;" class="space-x-2">
        <button type="button" (click)="editCat(row)"><i class="fa fa-edit"></i></button>
        <button type="button" (click)="deleteCat(row)"><i class="fa fa-trash"></i></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

  </table>
</div>

