<div class="flex p-2 w-[500px] h-32 mt-2 ml-2 mr-2 shadow rounded" style="background: #68ff682e;">

  <div class="flex flex-col">
      <h1 class="font-semibold">Add Roles</h1>
      <form action="" #addRoleForm="ngForm" (ngSubmit)="addToRole(addRoleForm)">
        <div class="grid grid-cols-7 gap-7 mt-2 mb-2">
          <div class="flex flex-col">
            <label for="">Role Name</label>
            <input type="text" name="role_name" [(ngModel)]="roleData.role_name" #role_name="ngModel" class="w-full p-2 shadow rounded">
          </div>
          <div class="mt-4">
            <button type="submit" class="p-2 bg-green-600 text-white shadow rounded " *ngIf="!editRoleFlag">Add</button>
            <button type="submit" class="p-2 bg-green-600 text-white shadow rounded " *ngIf="editRoleFlag">Update</button>
          </div>
        </div>
    </form>

  </div>
<div>
